body {
  font-family: MONTSERRAT, sans-serif;
  margin: 0;
}

header {
  background-image: url(photo1.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
  color: white;
  padding-top: 100px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  background: rgb(241, 3, 3);
  border: none;
  cursor: pointer;
}

button {
  background: rgb(226, 184, 29);
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
section {
  margin: 40px 0;
}

h2 {
  text-align: center;
}

ul {
  max-width: 400px;
  margin: auto;
}
main{
  max-width: 800px;
  margin: auto;
}
.cards {
  display: flex;
  gap: 20px;
  justify-content: center;
}
.card {
  padding: 20px;
background: #3b8fa9;
}