body {
  font-family: Arial;
  margin: 0;
}

header {
  background: linear-gradient(135deg, #4facfe, #00f2fe);
  color: white;
  padding: 100px 20px;
  text-align: center;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

button {
  margin-top: 20px;
  padding: 12px 25px;
  font-size: 16px;
  background: white;
  border: none;
  cursor: pointer;
}

button {
  background: white;
  color: black;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}
section {
  margin: 40px 0;
}

h2 {
  text-align: center;
}

ul {
  max-width: 400px;
  margin: auto;
}